# Script files
*.pbs
*.bat
*.sh


# TFV model stuff
modelling/TFV/run/**/log/*
!modelling/TFV/run/**/log/.gitkeep
modelling/TFV/run/**/check/*
!modelling/TFV/run/**/check/.gitkeep
modelling/TFV/run/**/*.o*


# Symbolic links
modelling/TFV/bc_dbase/calibration/met/BARRA
modelling/TFV/run/**/output


# Output files
*.nc
modelling/TFV/run/**/*.csv


# Images, PDFs, etc. 
*.png
*.jpeg
*.jpg
*.tif
*.bmp
*.pdf
*.fig


# GIS/Shapefiles
*.cpg
*.qmd


# Python
**/__pycache__/**
**/.ipynb_checkpoints/**



# Other
*.xml

# Post processing
results/*
post_processing/*plots/*
post_processing/python/.vscode/*
post_processing/results/*
